header {
	background-color: #333;
	color: #fff;
	padding: 10px;
}

h1 {
	margin: 0;
}

nav ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
    text-align: center;
}

nav li {
	display: inline-block;
	margin: 0 10px;
}

nav a {
	display: block;
	background-color: #ddd;
	color: #333;
	padding: 10px;
	text-decoration: none;
	border-radius: 5px;
}

nav a:hover {
	background-color: #ccc;
}

#scoreboard {
	float: left;
	width: 150px;
	background-color: #f1f1f1;
	padding: 20px;
	margin-right: 20px;
}

#scoreboard ol {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#scoreboard ol li {
	margin-bottom: 10px;
}

#scoreboard ol li span {
	display: inline-block;
	width: 20px;
}

#game {
	margin-left: 190px;
	padding: 20px;
}
